/* Patrick 10/2021 */

#body {
  background-color: black;
  margin: 1rem;
}

#global {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  text-align: center;
  color: black;
  padding: 1rem;
}

#canvas_1 {
  background-color: white;
  border: 1px solid black;
  height: 500px;
  margin: 1rem;
}

.ligne-bouton{
  display: flex;
  justify-content:center;

}

#boutonsbas :hover,#boutonshaut :hover{
  background-color: black;
  color: red;
}

.btn {
  background-color: rgb(68, 68, 68);
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 0.5rem;
  width: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#score {
  color: rgb(0, 255, 21);
}

#start , #scoreid{
  font-size: 1.5rem;
  border: black 5px solid;
}

#ligne-canvas-score{
  display: flex;
  justify-content:space-evenly ;
  align-items: center;
}

#scoreid{
  height: 200px;
}

#kaboum{
  transform:rotate(-45deg);
  color: rgb(68, 68, 68);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
}